<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Library Management System</h1>
    <p>MENU</p>
    <ul>
        <li><a href="/list_books"><br><b>List Books</b></List></b></a></li>
        <li><a href="/add_book"><br><b>Add Book</b></a></li>
        <li><a href="/remove_book"><br><b>Remove Book</b></a></li>
    </ul>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
